@import './fonts/fonts.css';

body {
  background-color: #ffffff;
  margin: 0;
  font-family: 'DM Sans';
  font-style: normal;
}

.infos {
  color: darkgray;
  display: flex;
  align-items: center;
  gap: 4px;
}

a {
  text-decoration: none;
  color: inherit;
}

.title {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0px;
}

.infoText {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  margin: 2px 0;
}

.infoTitle {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  margin: 0px;
  margin: 2px 0;
}

.infoWrapper {
  width: 100%;
  margin: 0;
}

.profileTitle {
  font-size: 20px;
  font-weight: 700;
  color: #5d5a88;
}

.profileSubtitle {
  font-size: 16px;
  font-weight: 400;
  color: #8d8ba7;
}
