@import './fonts/fonts.css';

body {
  margin: 0;
  font-family: 'DM Sans';
  font-style: normal;
}

.infos {
  display: flex;
  align-items: center;
  gap: 4px;
}

a {
  text-decoration: none;
}

.title {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0px;
}
